.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.navigation
/app/build
.idea/
app/app.iml
*.iml
ScanLibrary/build
SCQ/build
ApplicationLoggingLibrary/build
/captures
.externalNativeBuild
SignatureCapture/build


